.productDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 170px;
}

.productDisplay-left {
    display: flex;
    gap: 10px;
}

.productDisplay-img-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.productDisplay-img-list img {
height: 150px;
}

.productDisplay-main-img {
    width: 580px;
    height: 700px;
}

.productDisplay-right {
    flex: 1;
    padding: 0 20px;
}

.productDisplay-right-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.productDisplay-right-rating img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.productDisplay-right-prices {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.productDisplay-right-prices-reg {
    text-decoration: line-through;
    margin-right: 10px;
    color: red;
}

.productDisplay-right-prices-sale {
    font-weight: bold;
    color: green;
}

.productDisplay-right-description {
    margin-bottom: 10px;
}

.productDisplay-right-size {
    margin-bottom: 10px;
    color: #5e5e5e;
    font-weight: 600;
}

.productDisplay-right-size h3 {
    margin-bottom: 5px;
    color: black;
    font-weight: 700;
}

.productDisplay-right-size-options {
    display: flex;
    gap: 10px;
}

.productDisplay-right-size-options div {
    margin-right: 5px;
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
}

button {
    height: 37px;
    outline: none;
    border: 1px solid gray;
    border-radius: 75px;
    color: black;
    font-size: 15px;
}

button:hover {
    color: white;
    background-color: darkgray;
}

@media (max-width: 1280px) {
    .productDisplay {
        margin: 0px 50px;
    }

    .productDisplay-left {
        gap: 10px;
    }

    .productDisplay-img-list {
        gap: 5px;
    }

    .productDisplay-img-list img {
        height: 110px;
    }

    .productDisplay-main-img {
    height: 510px;
    width: auto;
    }

    .productDisplay-right {
        margin: 0px 20px;
    }

    .productDisplay-right h1 {
        font-size: 23px;
    }

    .productDisplay-right-rating {
        gap: 3px;
        font-size: 13px;
    }

    .productDisplay-right-prices {
        margin: 10px 0px;
        font-size: 17px;
    }

    .productDisplay-right-description {
        font-size: 16px;
        margin-top: 20px;
    }

    .productDisplay-right-size h1 {
        font-size: 14px;
    }

    .productDisplay-right-size div {
        padding: 15px 20px;
    }

    .productDisplay-right button {
        padding: 15px 0px;
        height: 45px;
        width: 120px;
        margin-bottom: 10px;
        font-size: 15px;
        
    }
}

@media (max-width: 1024px) {
    .productDisplay {
        margin: 0px 30px;
    }

    .productDisplay-left {
        gap: 5px;
    }

    .productDisplay-img-list {
        gap: 10px;
    }

    .productDisplay-img-list img {
        height: 100px;
    }

    .productDisplay-main-img {
    height: 490px;
    width: auto;
    }

    .productDisplay-right {
        margin: 0px 10px;
    }

    .productDisplay-right h1 {
        font-size: 18px;
    }

    .productDisplay-right-rating {
        gap: 2px;
        font-size: 12px;
    }

    .productDisplay-right-description {
        font-size: 14px;
        margin-top: 10px;
    }

    .productDisplay-right-sizes {
        margin: 10px 0px;
    }

    .productDisplay-right-size div {
        padding: 10px 13px;
        font-size: 12px;
    }

    .productDisplay-right button {
        padding: 10px 0px;
        height: 35px;
        width: 100px;
        margin-bottom: 5px;
        font-size: 12px;
        
    }
}

@media (max-width: 800px) {
    .productDisplay {
        margin: 0px 10px;
    }

    .productDisplay-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .productDisplay-img-list {
        gap: 8px;
        flex-direction: row;
    }

    .productDisplay-img-list img {
        height: 80px;
    }

    .productDisplay-main-img {
    height: 400px;
    width: auto;
    }

    .productDisplay-right {
        margin: 0px 10px;
    }

    .productDisplay-right h1 {
        font-size: 16px;
    }

    .productDisplay-right-rating {
        gap: 2px;
        font-size: 10px;
    }

    .productDisplay-right-description {
        font-size: 12px;
        margin-top: 10px;
    }

    .productDisplay-right-sizes {
        margin: 10px 0px;
    }

    .productDisplay-right-size div {
        padding: 8px 10px;
        font-size: 10px;
    }

    .productDisplay-right button {
        padding: 8px 0px;
        height: 30px;
        width: 80px;
        margin-bottom: 5px;
        font-size: 10px;
        
    }
}

@media (max-width: 500px) {
    .productDisplay {
        margin: 0px 10px;
    }

    .productDisplay-left {
        gap: 5px;
    }

    .productDisplay-img-list {
        gap: 5px;
    }

    .productDisplay-img-list img {
        height: 60px;
    }

    .productDisplay-main-img {
    height: 370px;
    width: auto;
    }

    .productDisplay-right {
        margin: 0px 10px;
    }

    .productDisplay-right h1 {
        font-size: 14px;
    }

    .productDisplay-right-rating {
        gap: 2px;
        font-size: 8px;
    }

    .productDisplay-right-description {
        font-size: 10px;
        margin-top: 10px;
    }

    .productDisplay-right-sizes {
        margin: 10px 0px;
    }

    .productDisplay-right-size div {
        padding: 6px 8px;
        font-size: 8px;
    }

    .productDisplay-right button {
        padding: 6px 0px;
        height: 25px;
        width: 70px;
        margin-bottom: 5px;
        font-size: 8px;
        
    }

}