.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 3%;
    position: relative;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: .10px;
    color: lightgray;
}

.nav-logo p {
    color: black; 
    font-size: 30px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    color: gray;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 2px;
    cursor: pointer;
}

.nav-menu li:hover{
    text-decoration: none; 
    color: lightgray;
}

.nav-login-cart {
    display: flex;
    align-items: center ;
    justify-content:space-between;
    gap: 7px;  
    font-size: 35px;
    color: black;
}

.nav-login-cart button {
    width: 75px;
    height: 37px;
    outline: none;
    border: 1px solid gray;
    border-radius: 75px;
    color: black;
    font-size: 15px;
}

.nav-login-cart button:hover {
    color: white;
    background-color: darkgray;
}

.cart {
    margin-bottom: -8px;
    
}

.cart:hover {
    color: lightgray;
}

.cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-top: -25px;
    margin-left: -32px;
    font-size: 15px;
    border-radius: 11px;
    background: green;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

hr {
    width: 50%;
}

.search-bar {
    margin-top: 5%;
    align-items: center ;
    width: 50%;
    border-radius: 20px;
    border: 1px solid #cccccc;
    max-width: 300px;
    padding: 4px;
}
.nav-dropdown {
    display: none;
}

@media(max-width:1280px){
    .nav-menu {
        gap: 20px;
        font-size: 16px;
    }

    .navbar{
        padding: 12px 60px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-login-cart {
        font-size: 30px;
        gap: 20px;
    }

    .nav-login-cart button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }

    .cart-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-top: -20px;
        margin-left: -40px;
    }
}

@media(max-width: 1041px){
    .nav-menu {
        gap: 15px;
        font-size: 14px;
    }

    .navbar{
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-login-cart {
        font-size: 30px;
        gap: 20px;
    }

    .nav-login-cart button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }

    .cart-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-top: -20px;
        margin-left: -40px;
    }
}

@media(max-width: 1024px){
    .nav-menu {
        gap: 25px;
        font-size: 14px;
    }

    .navbar{
        padding: 12px 40px;
    }

    .nav-logo img {
        width: 30px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-login-cart {
        font-size: 30px;
        gap: 20px;
    }

    .nav-login-cart button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }

    .cart-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-top: -20px;
        margin-left: -40px;
    }
}

@media(max-width: 800px) {
    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }

    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        width: 40px;
        height: 25px;
        gap: 10px;
        top: 60px;
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    .nav-login-cart {
        font-size: 30px;
        gap: 20px;
        margin-bottom: 30px;
        
    }

    .nav-login-cart button {
        width: 70px;
        height: 30px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .cart-count {
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-top: -20px;
        margin-left: -40px;
    }

    .search-bar {
        display: none;
    }

    .nav-menu-visible {
        display: flex;
        gap: 10px;
    }

    .nav-login-cart {
        overflow: visible !important; /* Make sure the container doesn't cut off the icons */
        width: 125px; /* Adjust as needed */
        height: 30px; /* Adjust as needed */
        
    }

    .nav-dropdown.open {
        color: #b1b1b1d9;
    }


}




